@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: #e2e2e2;
}

html::-webkit-scrollbar-thumb {
  background: #d9296f;
}

body {
  background: #f8f9fc;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

hr {
  margin: 30px 0;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
}

.heading span {
  color: #d9296f;
  font-size: 2rem;
  margin: 20px 0;
}

.heading h1 {
  font-size: 4rem;
  color: #000;
  margin: 40px 0;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #d9296f;
  border: 0.2rem solid #d9296f;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: #d9296f;
  color: #f8f9fc;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  padding: 1.5rem 9%;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.header .navbar a {
  font-size: 1.7rem;
  position: relative;
  color: #3d3d3d;
  display: inline-block;
  margin: 0 12px;
  text-decoration: none;
  cursor: pointer;
}

.navbar a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-in-out;
}

.navbar a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header .navbar a:hover {
  color: #d9296f;
}

.header .btn {
  margin-top: 0;
}

.logo {
  font-size: 2.5rem;
  color: #000;
  cursor: pointer;
  font-weight: bolder;
}

.logo span {
  color: #d9296f;
}
.navbar-white {
  background-color: white;
}

#menu-btn {
  font-size: 2.5rem;
  color: #000;
  cursor: pointer;
  display: none;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 8rem;
}

.about .video-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  margin-bottom: 5rem;
}

.about .content span {
  color: #d9296f;
  font-size: 4rem;
}

.about .content h3 {
  color: #000;
  font-size: 4rem;
  margin-top: 0.5rem;
}

.about .content p {
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #3d3d3d;
  line-height: 2;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  background: #fff;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  box-shadow: rgb(17 17 17 / 15%) 0px 0.5rem 1rem;
}

.services .box-container .box:hover {
  transform: scale(1.05);
  background: #fff;
}

.services .box-container .box img {
  width: 150px;
  margin-bottom: 2rem;
}
.box {
  transition: transform 0.3s ease;
}

.image-container {
  overflow: hidden;
}

.hover-image {
  transition: filter 0.3s ease;
  filter: contrast(0%);
}

.box:hover .hover-image {
  filter: contrast(150%);
}

.box:hover {
  transform: scale(1.05);
}

.services .box-container .box h3 {
  font-size: 2rem;
  color: #000;
}

.destination .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.destination .box-container .box .image i {
  font-size: 50px;
  object-fit: cover;
}
.destination .box-container .box .image i:hover {
  font-size: 50px;
  color: #411f9e;
  border: 1px solid rgba(94, 44, 237, 0.2);
  border-radius: 4px;
  background-color: rgba(66, 23, 185, 0.05);
  margin-bottom: 30px;
  padding: 10px;
}
.destination .box-container .image img {
  margin-top: 100px;
}

.destination .box {
  margin-top: 100px;
}
.destination .box .title {
  font-size: 24px;
  margin: 10px 0;
  color: blue;
}
.destination .box-container .box .content {
  padding: 2rem;
  text-align: left;
}

.destination .box-container .box .content h3 {
  font-size: 2rem;
  color: #000;
}

.destination .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.8rem;
  color: #3d3d3d;
  line-height: 2;
}

.destination .box-container .box .content a {
  font-size: 1.7rem;
  color: #d9296f;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 8rem;
}

.review .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 2 8rem;
}

.review .content span {
  font-size: 6rem;
  color: #d9296f;
}

.review .content h3 {
  font-size: 3rem;
  color: #000;
}

.review .content p {
  font-size: 2rem;
  color: #3d3d3d;
  padding: 1rem 6rem 1rem 1rem;
  line-height: 2;
}

.review .box-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 0 1 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.review .box-container .box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
  border-radius: 1rem;
  padding: 2rem;
  background: #fff;
  box-shadow: rgb(17 17 17 / 15%) 0px 0.5rem 1rem;
}

.review .box-container .box:hover {
  border: 0.2rem solid #d9296f;
}

.review .box-container .box p {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  line-height: 2;
  color: #3d3d3d;
}

.review .box-container .box .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

.review .box-container .box .user img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.review .box-container .box .user h3 {
  font-size: 1.7rem;
  color: #000;
}

.review .box-container .box .user span {
  color: #3d3d3d;
  font-size: 1.5rem;
}

.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1rem;
  margin-bottom: 5rem;
}

.blogs .box-container .box {
  border-radius: 1rem;
  width: 260px;
  background: #f1efef6c;
  box-shadow: rgb(17 17 17 / 15%) 0px 0.5rem 1rem;
  overflow: hidden;
}

.blogs .box-container .box:hover {
  background: #f8f9fc;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    transform var(#000, 0.4s);
}

.blogs .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.blogs .box-container .box .content {
  padding: 2rem;
}

.blogs .box-container .box .content .link {
  font-size: 2rem;
  color: #000;
}

.blogs .box-container .box .content .link:hover {
  color: #d9296f;
}

.blogs .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #3d3d3d;
  line-height: 2;
}

.blogs .box-container .box .content .icon {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.blogs .box-container .box .content .icon a {
  font-size: 1.4rem;
  color: #3d3d3d;
}

.blogs .box-container .box .content .icon a:hover {
  color: #d9296f;
}

.blogs .box-container .box .content .icon a i {
  padding-right: 0.5rem;
  color: #d9296f;
}
.contact span {
  padding: 10px 30px;
}

.footer {
  background-color: #fff;
  box-shadow: rgb(17 17 17 / 15%) 0px 0.5rem 1rem;
  background: url(../public/images/footer.png);
  position: relative;
  border-top: 2px solid #9c9595;
  border-bottom: 2px solid #9c9595;
}

.moving-background {
  background: url(https://productbox.dev/wp-content/uploads/2022/06/car.png)
    no-repeat center center !important;
  width: 100%;
  height: 52px;
  right: 0;
  left: 0; /* Change left to 0 */
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 15s linear infinite;
}

.background-image {
  width: 33.33%;
  height: 100%;
  background-repeat: repeat;
  background-position: center;
}

.image1 {
  background: url(https://productbox.dev/wp-content/uploads/2022/06/bike.png)
    no-repeat center center !important;
}

@keyframes myfirst {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box {
  padding: 1rem 0;
}

.footer .box-container .box .logo {
  padding-bottom: 1rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #000;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.9rem;
  color: #3d3d3d;
  padding: 1rem 0;
  font-weight: 600;
  line-height: 2;
}

.footer .box-container .box p i {
  padding-right: 0.5rem;
  font-size: 20px;
  color: #d9296f;
}

.footer .box-container .box .share {
  padding-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4rem;
  font-size: 3rem;
  font-weight: 600;
  border-radius: 50%;
  font-size: 1.7rem;
  border: 0.2rem solid #d9296f;
  color: #d9296f;
  margin-right: 0.5rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: #d9296f;
  color: #f8f9fc;
}

.footer .box-container .box .links {
  font-size: 1.9rem;
  color: #3d3d3d;
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box .links:hover {
  color: #d9296f;
}

.footer .box-container .box .links:hover i {
  padding-right: 2rem;
}

.footer .box-container .box .links i {
  padding-right: 0.5rem;
  color: #d9296f;
}

.footer .box-container .box form .email {
  width: 100%;
  border-radius: 5rem;
  border: 0.2rem solid #d9296f;
  background: none;
  font-size: 1.5rem;
  text-transform: none;
  color: #3d3d3d;
  margin-bottom: 1rem;
  padding: 1.2rem 1.4rem;
}

.credit {
  background-color: #242424;
  box-shadow: rgb(17 17 17 / 15%) 0px 0.5rem 1rem;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  margin-top: 55px;
  color: #f8f9fc;
}

.credit span {
  color: #d9296f;
}
/* ==================== Services section css code ============================ */
.fillter-buttons {
  text-align: center;
  padding: 0.8rem;
  margin-bottom: 3rem;
}

.fillter-buttons button {
  background: linear-gradient(98deg, #e5eef7 0%, #fff 100%);
  padding: 12px 15px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  color: #000;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.fillter-buttons button:hover,
button.mixitup-control-active {
  background: linear-gradient(
    180deg,
    rgba(247, 1, 120, 1) 0%,
    rgba(160, 8, 156, 1) 51%,
    rgba(99, 13, 178, 1) 100%
  );
  color: #fff;
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  gap: 1.5rem;
}

.portfolio-img img {
  display: block;
  width: 100%;
  height: 160px;
  transition: 0.3s;
}

.portfolio-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  background: linear-gradient(98deg, #e5eef7 0%, #fff 100%);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.portfolio-content {
  width: 100%;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.portfolio-img {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.readMore {
  background: linear-gradient(98deg, #e5eef7 0%, #fff 100%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #000;
  margin-right: 0.8rem;
  cursor: pointer;
}

.portfolio-content a.readMore {
  padding: 8px 12px;
  font-size: 0.8rem;
}

.portfolio-content p {
  font-size: 1rem;
  color: #90979f;
  margin: 0.5rem 0 1rem 0;
}
/* ================= */
.carousel {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.carousel img {
  width: 100%;
  height: 50vh;
  border-radius: 20px;
  object-fit: cover;
}
.carousel-inner {
  display: flex;
  transition: transform 0.8s ease-in-out; 
}

.carousel-item {
  flex: 0 0 100%;
  transition: opacity 0.8s ease-in-out; 
  opacity: 0; 
}

.carousel-item.active {
  opacity: 1;
}

.carousel-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border: 1px solid #000;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-dot.active {
  background-color: #ff0000;
}



.carousel-delay {
  transition-delay: 0.5s;
}


/*----responsive---------*/

@media (max-width: 1170px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }
  #menu-btn {
    display: inline-block;
  }
  .header {
    justify-content: space-between;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    display: block;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 800px) {
  #menu-btn {
    display: inline-block;
  }
  .header {
    justify-content: space-between;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    display: block;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
  .responsive-image {
    max-width: 400px;
    height: auto;
  }
  .video-container img {
    max-width: 420px;
  }
  .blogs .box-container {
    margin: 10px 0 15px 60px;
  }
  .map {
    max-width: 370px;
  }
  .home {
    margin-top: 10rem;
  }

  .home .content span {
    font-size: 8vw;
  }

  .home .content h3 {
    font-size: 9vw;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .about .content h3 {
    font-size: 3.5rem;
  }

  .banner .content h3 {
    font-size: 2.7rem;
  }
}
